@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary Colors */
    --primary-background: #f8f8ff;
    --primary-foreground: #131112;
    --primary-light: #ffffff;
    --primary-dark: #1f1f1f;

    /* Secondary Colors */
    --secondary-background: #fffff0;
    --secondary-foreground: #131112e5;
    --secondary-light: #f7f7f7;
    --secondary-dark: #000000;

    /* Accent Colors */
    --accent-color: #d9d9d9;
    --accent-foreground: #ffffff;
    --accent-light: #efefefff;
    --accent-dark: #333f51;

    /* Border Colors */
    --border-primary: #cccccc;
    --border-secondary: #999999;
    --border-light: #e0e0e0;
    --border-dark: #666666;
  }
}

@layer utilities {
  /* Background Color Utilities */
  .bg-primary-light-gray {
    background-color: var(--primary-background);
  }

  .bg-primary-white {
    background-color: var(--primary-light);
  }

  .bg-primary-dark {
    background-color: var(--primary-dark);
  }

  .bg-secondary-cream {
    background-color: var(--secondary-background);
  }

  .bg-secondary-light {
    background-color: var(--secondary-light);
  }

  .bg-secondary-dark {
    background-color: var(--secondary-dark);
  }

  .bg-accent {
    background-color: var(--accent-color);
  }

  .bg-accent-light {
    background-color: var(--accent-light);
  }

  .bg-accent-dark {
    background-color: var(--accent-dark);
  }

  /* Text Color Utilities */
  .text-primary-black {
    color: var(--primary-foreground);
  }

  .text-secondary-gray {
    color: var(--secondary-foreground);
  }

  .text-accent-white {
    color: var(--accent-foreground);
  }

  /* Border Color Utilities */
  .border-primary {
    border-color: var(--border-primary);
  }

  .border-secondary {
    border-color: var(--border-secondary);
  }

  .border-light {
    border-color: var(--border-light);
  }

  .border-dark {
    border-color: var(--border-dark);
  }
}